  <div id="mobile-menu-trigger">
			<button class="navbar-burger flex items-center text-blue-600 p-3">
				<svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
			 <div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25">
	
	</div>
    <nav
      class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto"
    >
      <div class="flex items-center mb-8">
        <a class="mr-auto text-3xl font-bold leading-none" href="#">
          <h1>4Training</h1>
        </a>
        <button class="navbar-close">
          <svg
            class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          <li class="mb-1">
            <a
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
              href="#"
              >Home</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
              href="#"
              >About Us</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
              href="#"
              >Services</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
              href="#"
              >Pricing</a
            >
          </li>
          <li class="mb-1">
            <a
              class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
              href="#"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
 
 <a href="/mediawiki/index.php/Special:MyLanguage/Start" title="Visit the main page" class="flex items-center hover:text-yellow-300 transition duration-300">
        {{#data-logos}}
          {{#1x}}<img id="ft-logo" src="{{.}}" alt="logo" class="h-12 w-auto mr-3"/>{{/1x}}
        {{/data-logos}}
      </a>
	</div>
      <nav id="ft-header-menu" class="flex items-center space-x-6">
 

        {{#data-search-box}}
        <div id="p-search" role="search" class="relative">
          <form action="{{form-action}}" role="search" id="search" class="flex items-center">
            <input type="hidden" name="title" value="{{page-title}}">
            <label for="searchInput" class="sr-only">{{msg-search}}</label>
            <div class="relative flex items-center">
              <input type="search" id="searchInput" class="w-64 border border-gray-300 rounded-md py-2 pl-10 pr-4 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Suche 'Schritte der Vergebung'" name="search">
              <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            <button type="submit" class="ml-2 bg-red-300 text-white rounded-md py-2 px-4 hover:bg-red-400 transition duration-300">Search</button>
          
		  </form>
        </div>
        {{/data-search-box}}
		</div>

 
      </nav>