<div role="navigation" id="{{id}}" class="vectorMenu" aria-labelledby="{{id}}-label">
    <h3 id="{{id}}-label" tabindex="0" {{{html-user-language-attributes}}}>
        <span>{{label}}</span>
        <a href="#" tabindex="-1"></a>
    </h3>
    <div class="menu">
        <ul {{{html-user-language-attributes}}}>
            {{{html-items}}}
        </ul>
    </div>
    {{{html-after-portal}}}
</div>