<div id="ft-wrapper" class="min-h-screen bg-white">
	{{>Header}}
  <main id="ft-content" class="flex-grow container mx-auto px-4 py-8">
    <div id="siteNotice" class="hidden mb-4 bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4">{{{html-site-notice}}}</div>
    {{{html-user-message}}}
    <div class="mw-indicators mw-body-content">
      {{#array-indicators}}
      <div id="{{id}}" class="{{class}}">{{{html}}}</div>
      {{/array-indicators}}
    </div>
	<div class="text-4xl font-bold"> {{{html-title-heading}}}</div>
   
    <div class="bg-white rounded-lg shadow-xl p-6">
      <div id="contentSub" class="text-sm text-gray-600 mb-4">
        {{{html-subtitle}}}
        {{{html-undelete-link}}}
      </div>
      <div class="prose max-w-none">
        {{{html-body-content}}}
      </div>
      {{#data-portlets}}
      {{>CategoryPortlet}}
      {{/data-portlets}}
    </div>
    {{{html-after-content}}}
  </main>
</div>

  <footer id="footer" class="mw-footer p-6 bg-gray-100" role="contentinfo" {{{html-user-language-attributes}}}>
    <div class="container mx-auto">
      <nav id="mw-navigation" class="mb-6">
        <div class="flex space-between" >
          <div id="mw-head" class="flex items-center space-x-4">
            {{#data-portlets}}
              {{#data-user-menu}}{{>Portlet}}{{/data-user-menu}}
			  <div> 
              <div id="right-navigation" class="flex space-x-4">
                {{#data-guidelines}}{{>Guidelines}}{{/data-guidelines}}
                {{#data-views}}{{>RightNavigation}}{{/data-views}}
                {{#data-namespaces}}{{>RightNavigation}}{{/data-namespaces}}
                {{#data-actions}}{{>RightNavigationMore}}{{/data-actions}}
              </div>
            {{/data-portlets}}
          </div>
		  <div>
 {{#data-footer}}
        {{#data-icons}}{{>FooterList}}{{/data-icons}}
        {{#data-info}}{{>FooterList}}{{/data-info}}
      {{/data-footer}}
		  </div>
		  <div>
<ul id="footer-login" class="mt-4">
        <li id="footer-loginlink"><a href="/Special:UserLogin" class="font-semibold text-gray-600 hover:bg-blue-50 hover:text-blue-600 rounded hover:cursor-pointer">Login</a></li>
      </ul>
		  </div>
		  </div>
        </div>
      </nav>
    </div>
  </footer>
</div>
