<div id="ft-wrapper" class="min-h-screen bg-white">
  <script src="https://cdn.tailwindcss.com"></script>
  <header  class="text-white pt-12 pb-12 pl-4 pr-4 shadow-lg bg-grey-100">
  <div class="mx-auto flex justify-between items-center">
  <div class="flex items-center gap-8"> 
    <div id="mobile-menu-trigger">
			<button class="navbar-burger flex items-center text-blue-600 p-3">
				<svg class="block h-12 w-12 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
    
  </div>
  <div>
   <a href="/mediawiki/index.php/Special:MyLanguage/Start" title="Visit the main page" class="flex items-center hover:text-yellow-300 transition duration-300">
        {{#data-logos}}
          {{#1x}}<img id="ft-logo" src="{{.}}" alt="logo" class="h-20 w-auto mr-3"/>{{/1x}}
        {{/data-logos}}
      </a>
  </div>
   </div>
   <nav id="ft-header-menu" class="flex items-center space-x-6">
 

        {{#data-search-box}}
        <div id="p-search" role="search" class="relative">
          <form action="{{form-action}}" role="search" id="search" class="flex items-center">
            <input type="hidden" name="title" value="{{page-title}}">
            <label for="searchInput" class="sr-only">{{msg-search}}</label>
            <div class="relative flex items-center">
              <input type="search" id="searchInput" class="w-96 border border-gray-300 rounded-md py-3 pl-12 pr-4 text-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Suche 'Schritte der Vergebung'" name="search">
              <svg class="absolute left-4 top-1/2 transform -translate-y-1/2 h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            <button type="submit" class="ml-3 bg-red-800 text-white rounded-md py-3 px-6 text-xl hover:bg-red-400 transition duration-300">Search</button>
          
		  </form>
        </div>
        {{/data-search-box}}
		</div>

 
      </nav>
  
  <div class="navbar-menu relative z-50 hidden">
  <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
  <nav
    class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto"
  >
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" href="#">
        <h1>4Training</h1>
      </a>
      <button class="navbar-close">
        <svg
          class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>
    <div>
      <ul>
	   {{#data-portlets-sidebar.data-portlets-first}}{{>Portlet}}{{/data-portlets-sidebar.data-portlets-first}}
        {{#data-portlets-sidebar.array-portlets-rest}}{{>Portlet}}{{/data-portlets-sidebar.array-portlets-rest}}
        {{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
		<div class="portal">
			<ul>
				<li><a href="/Special:MyLanguage/Essentials">{{msg-headnav-essentials}}</a></li>
				<li><a href="/Special:MyLanguage/More">{{msg-headnav-more}}</a></li>
				<li><a href="/Special:MyLanguage/Languages">{{msg-headnav-languages}}</a></li>
				<li><a href="/Special:MyLanguage/FAQ">{{msg-headnav-faq}}</a></li>
				<li><a href="https://www.4training.net/Special:MyLanguage/Contact">{{msg-contactpage-title}}</a></li>
			</ul>
		</div>
      </ul>
    </div>
  </nav>
</div>
  </header>
  <main id="ft-content" class="flex-grow container mx-auto px-4 py-8">
  {{! FIXME: this is hidden }}
    <div id="siteNotice" class="hidden mb-4 bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4">{{{html-site-notice}}}</div>
    {{{html-user-message}}}
    <div class="mw-indicators mw-body-content">
      {{#array-indicators}}
      <div id="{{id}}" class="{{class}}">{{{html}}}</div>
      {{/array-indicators}}
    </div>
	<div class="text-4xl font-bold"> {{{html-title-heading}}}</div>
   
    <div class="bg-white rounded-lg shadow-xl p-6">
      <div id="contentSub" class="text-sm text-gray-600 mb-4">
        {{{html-subtitle}}}
        {{{html-undelete-link}}}
      </div>
      <div class="prose max-w-none">
        {{{html-body-content}}}
      </div>
      {{#data-portlets}}
      {{>CategoryPortlet}}
      {{/data-portlets}}
    </div>
    {{{html-after-content}}}
  </main>
</div>

  {{! FIXME: this is hidden }}
  <nav id="mw-navigation" class="hidden bg-green-600 text-white p-4">
    <h2 class="sr-only">{{msg-navigation-heading}}</h2>
    <div class="container mx-auto flex justify-between">
      <div id="mw-panel" class="space-y-4">
        {{#data-portlets-sidebar.data-portlets-first}}{{>Portlet}}{{/data-portlets-sidebar.data-portlets-first}}
        {{#data-portlets-sidebar.array-portlets-rest}}{{>Portlet}}{{/data-portlets-sidebar.array-portlets-rest}}
        {{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
		
      
	  </div>
      <div id="mw-head" class="flex items-center space-x-4">
        {{#data-portlets}}
          {{#data-user-menu}}{{>Portlet}}{{/data-user-menu}}
          <div id="right-navigation" class="flex space-x-4">
            {{#data-guidelines}}{{>Guidelines}}{{/data-guidelines}}
            {{#data-views}}{{>RightNavigation}}{{/data-views}}
            {{#data-namespaces}}{{>RightNavigation}}{{/data-namespaces}}
            {{#data-actions}}{{>RightNavigationMore}}{{/data-actions}}
          </div>
        {{/data-portlets}}
      </div>
    </div>
    <div id="ft-toggle-menu" class="fixed top-1/2 left-0 transform -translate-y-1/2">
      <a id="ft-closemenu" href="#" class="togglecollapse bg-white text-indigo-600 p-2 rounded-r shadow hover:bg-indigo-100 transition duration-300" title="{{msg-headnav-collapsemenu}}">&laquo;</a>
      <a id="ft-openmenu" href="#" class="toggleexpand bg-white text-indigo-600 p-2 rounded-r shadow hover:bg-indigo-100 transition duration-300 hidden" title="{{msg-headnav-expandmenu}}">&raquo;</a>
    </div>
  </nav>

  {{! FIXME: this is hidden }}
  <footer id="footer" class="hidden mw-footer bg-blue-800 text-white p-6" role="contentinfo" {{{html-user-language-attributes}}}>
    <div class="container mx-auto">
      {{#data-footer}}
        {{#data-icons}}{{>FooterList}}{{/data-icons}}
        {{#data-info}}{{>FooterList}}{{/data-info}}
      {{/data-footer}}
      <ul id="footer-login" class="mt-4">
        <li id="footer-loginlink"><a href="/Special:UserLogin" class="hover:text-yellow-300 transition duration-300">Login</a></li>
      </ul>
    </div>
  </footer>
</div>
