<div id="ft-wrapper">
	<div id="ft-header">
		<a href="/mediawiki/index.php/Special:MyLanguage/Start" title="Visit the main page">
		{{#data-logos}}{{! Reading logo information from $wgLogos['wordmark'] in LocalSettings.php}}
			{{#1x}}<img id="ft-logo" src="{{.}}" alt="logo"/>{{/1x}}
		{{/data-logos}}
		</a>
		<h2 class="text-9xl font-bold text-blue-900">1234566</h2>
		<div id="ft-header-menu">
			<a href="/Special:MyLanguage/Essentials">{{msg-headnav-essentials}}</a>
			<a href="/Special:MyLanguage/More">{{msg-headnav-more}}</a>
			<a href="/Special:MyLanguage/Languages">{{msg-headnav-languages}}</a>
			<a href="/Special:MyLanguage/FAQ">{{msg-headnav-faq}}</a>
			<a style="margin-right: 10px" href="https://www.4training.net/Special:MyLanguage/Contact">{{msg-contactpage-title}}</a>

			{{#data-search-box}}
			<div id="p-search" role="search">
			<form action="{{form-action}}" role="search" class="mw-portlet" id="search">
				<div id="simpleSearch">
					<input type="hidden" name="title" value="{{page-title}}">
					<h3  {{{html-user-language-attributes}}}>
						<label for="searchInput">{{msg-search}}</label>
					</h3>
					{{{html-input}}}
					{{{html-button-search}}}
				</div>
			</form>
			</div>
			{{/data-search-box}}
		</div>
	</div>

	<div id="ft-content" class="mw-body" role="main">
		<div id="siteNotice">{{{html-site-notice}}}</div>
		{{{html-user-message}}}
		<div class="mw-indicators mw-body-content">
		{{#array-indicators}}
		<div id="{{id}}" class="{{class}}">{{{html}}}</div>
		{{/array-indicators}}
		</div>
		{{{html-title-heading}}}
		<div>
			<div id="contentSub">
				{{{html-subtitle}}}
				{{{html-undelete-link}}}
			</div>
			{{{html-body-content}}}
			{{! todo: replace with .mixin-clearfix }}
			<div class="visualClear"></div>
			{{#data-portlets}}
			{{>CategoryPortlet}}
			{{/data-portlets}}
		</div>
		{{{html-after-content}}}
	</div>
	<div id="mw-navigation">
		<h2>{{msg-navigation-heading}}</h2>
		<div id="mw-head">
		{{#data-portlets}}
			{{#data-user-menu}}{{>Portlet}}{{/data-user-menu}}
			<div id="right-navigation">{{! Navigation for logged-in users}}
				{{#data-guidelines}}{{>Guidelines}}{{/data-guidelines}}
				{{#data-views}}{{>RightNavigation}}{{/data-views}}
				{{#data-namespaces}}{{>RightNavigation}}{{/data-namespaces}}
				{{#data-actions}}{{>RightNavigationMore}}{{/data-actions}}
			</div>
		{{/data-portlets}}
		</div>
		<div id="mw-panel">{{! The main navigation sidebar to the left}}
			{{#data-portlets-sidebar.data-portlets-first}}{{>Portlet}}{{/data-portlets-sidebar.data-portlets-first}}
			{{#data-portlets-sidebar.array-portlets-rest}}{{>Portlet}}{{/data-portlets-sidebar.array-portlets-rest}}
			{{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
		</div>
		<div id="ft-toggle-menu">
			<a id="ft-closemenu" href="#" class="togglecollapse" title="{{msg-headnav-collapsemenu}}">&laquo;</a>
			<a id="ft-openmenu" href="#" class="toggleexpand" title="{{msg-headnav-expandmenu}}" style="display:none">&raquo;</a>
		</div>
	</div>
	<div id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
		{{#data-footer}}
		{{!}}{{#data-icons}}{{>FooterList}}{{/data-icons}}
		{{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
		{{/data-footer}}
		<ul id="footer-login" class="noprint"><li id="footer-loginlink"><a href="/Special:UserLogin">Login</a></li></ul>
		{{! todo: replace with .mixin-clearfix }}
		<div class="visualClear"></div>
	</div>
</div>
